body{
    resize:both;
    overflow:auto;
    text-align:center;
    max-width: width 1400px;
    font-size: 18px;
}
h1{
    font-family: 'Oswald';
    font-weight:800;
}
header{
    display:inline-flex;
    width:100%;
    padding:16px 24px;
    box-sizing: content-box;
    float:left;
    height: 64px;
}
#logo p{
    color:black;
    font-size: 1.75rem;
    font-family: 'Oswald';
}
span{
    color:gray;
}
#logo{
    justify-content: flex-start;
    width:50%;
}
.nav{
    width:1400px;
    display:inline-flex;
    align-items: flex-end;
    font-family: 'Oswald';
}
.container{
    display:inline-flex;
}
.first{
    display:inline-flex;
    background-color: lightgray;
    padding:4/3rem;
    max-width: 1400px;
    font-family: "Oswald";
}
/* Mobile site*/
/*@media only screen and (max-width:480px){
    .first{
        display:inline-flex;
        flex-direction: column;
    }
    .banner{
        width:100%;
        height:auto;
        overflow:hidden;
    }
    .Opening{
        width:100%;
    }
    .left{display:none;}*/


.banner{
    width:60%;
    height:auto;
    overflow:hidden;
}
.Opening{
    box-sizing: border-box;
    width:40%;
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
    padding:24px;
    align-items: left;
    color:rgb(48, 46, 46);
    text-align: left;
}
.Opening h1{
    Font-size:40px;
}
.Opening h2{
    font-size:4/3rem;
}
.button button{
    color:white;
    background-color:rgb(48, 46, 46);
    height:65px;
    padding:8px 20px;
    font-size: 28px;
    width:100%;
    border:none;
    border-radius:5px;
    font-family: "Oswald";
}
button:hover{
    background-color: rgb(99, 34, 34);
    transition: background-color 500ms linear;
}
.Opening div{
    padding:24px 0;
}
.second{
    display:inline-flex;
    background-color: white;
    max-width: 1400px;
    font-family: "Oswald";
    box-sizing:border-box;
}
.left{
    width:60%;
    overflow:hidden;
    margin:1.75rem 1.33rem;
}
.img2l{
    width:100%;
    height:auto;
    margin:1rem 0 1.75rem 0;
}
.right{
    width:40%;
    display:inline-flex;
    flex-direction: column;
    justify-content: start;
    margin:1.75rem 0;
}
#info1, #info2, #info3{
    display:inline-flex;
    justify-content: center;
}
#info1:hover, #info2:hover, #info3:hover{
    background-color: rgba(211, 211, 211, 0.5);
    transition:background-color 250ms linear;
}
.text{
    text-align:left;
    padding:0.6rem;
    width:65%;
}
.rm{
    color:blue;
}
.rm:hover{
    color:rgb(14, 171, 223);
    transition:color 200ms linear;
}
.underline{
    text-align: left;
    font-size: small;
}
.infoimg{
    padding:0.9rem;
    width:35%;
    overflow: auto;
    height:auto;
}
.third{
    max-width:1400px;
    display:inline-flex;
    padding:32px 72px;
    box-sizing: border-box;
    flex-wrap:wrap;
    font-family: "Oswald";
    justify-content: space-between;
    background-color: lightgray;
    height:auto;
}
.courses{
    width:25%;
    text-align: left;
    background-color: white;
    margin:10px;
    height:50%;
}
.courseimg{
    overflow:hidden;
    height:50%;
}
.untertext{
    padding-left:10px;
    padding-bottom:15px;
    padding-top:0;
    text-align: left;
}
.container3{
    display:inline-flex;
    max-width:1400px;
    font-family:'Oswald';
}
video{
    width:100%;
    height:auto;
}
#info4, #info5{
    display:inline-flex;
    justify-content: flex-start;
}
#info4:hover, #info5:hover{
    background-color: rgba(211, 211, 211, 0.5);
    transition:background-color 250ms linear;
}
.Überschrift{
    font-family:'Oswald';
}
footer{
    text-align:left;
    padding:10px 25px;
}
.infotxt{
    justify-content: flex-start;
    text-align:left;
}
.txt{
    text-align: left;
    width:65%;
}
.imgthesis{
    padding:16px;
    overflow: auto;
    height:auto;
    width:35%;
    height:auto;
}
#contact{
    text-align:right;
    padding-bottom: 24px;
    padding-right: 24px;
}
.container4{
    background-color: lightgray;
    padding-top: 32px;
    box-sizing:border-box;
    padding-left: 72px;
    padding-right: 72px;
}
